.title {
    font-family: pinarak;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 1vw;
}

.center {
    width: 80vw;
    margin: 3vw auto 0;
    font-weight: bold;
    margin-bottom: 5vw;
}

.laporan-tab-container {
    text-align: center;
}

.laporan-tab {
    display: inline-block;
    font-size: 1.8vw;
    margin-right: 8vw;
    text-decoration: none;
    color: black;
}

.laporan-tab:nth-last-child(1) {
    margin-right: 0;
}

.laporan-tab.active {
    border-bottom: 5px solid black;
}

.laporan-transaksi-header {
    margin-top: 3vw;
}

.laporan-transaksi-header-left, .laporan-transaksi-header-right {
    display: inline-block;
    vertical-align: top;
}

.laporan-transaksi-header-label {
    display: inline-block;
    font-size: 1.3vw;
    width: 7vw;
    line-height: 3vw;
}

.laporan-transaksi-header-input {
    padding: 0.3vw;
    font-size: 1.3vw;
}

.laporan-transaksi-header-right {
    margin-left: 5vw;
}

.grand-total-label, .grand-total-value {
    font-size: 1.5vw;
}

.export-to-excel {
    margin-top: 20px;
    cursor: pointer;
}

.export-to-excel:hover {
    background-color: #DDD;
}

.excel-icon {
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.excel-text {
    text-align: center;
}

.laporan-transaksi-table-container {
    margin-top: 5vw;
}

.table-transaksi {
    margin-bottom: 5vw;
}

.table-transaksi td {
    font-weight: bold;
    font-size: 1.2vw;
    padding: 0.5vw 0.5vw;
    vertical-align: top;
    line-height: 2vw;
}

.table-transaksi thead td {
    padding-bottom: 1vw;
    border-bottom: 3px solid black;
}

.table-transaksi tbody tr:nth-child(1) td {
    padding-top: 1vw;
}

.table-transaksi td:nth-child(1) {
    width: 9vw;
}

.table-transaksi td:nth-child(3) {
    width: 15vw;
}

.table-transaksi td:nth-child(4), .table-transaksi td:nth-child(6) {
    width: 9vw;
    text-align: right;
}

.table-transaksi tbody td:nth-child(5) {
    text-align: right;
    padding-right: 2vw;
}