* {
  font-family: square_721;
  outline: 0;
  margin: 0;
  padding: 0;

  -ms-touch-action: pan-x pan-y;
  touch-action: manipulation;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.select {
  position: relative;
}

.option-container {
  position: absolute;
  top: 0;
  left: -3px;
  background-color: white;
  border: 1px solid black;
  padding: 1vw 0;
  width: calc(100% + 6px);
  max-height: 15vw;
  overflow-y: auto;
  display: none;
}

.option-container.show {
  display: block;
}

.option {
  padding: 0.5vw 1vw;
}

.option:hover, .option.active {
  border: 0 !important;
  background-color: #DDD;
}

.section {
  width: 100vw;
  background-color: #F1F1F1;
  overflow: hidden;
  color: #444;
}

.button {
  padding: 0.5vw;
  cursor: pointer;
  transition: all 0.2s;
}

.notification {
  position: fixed;
  bottom: 3vw;
  right: 3vw;
  display: inline-block;
  min-width: 10vw;
  height: 4vw;
  background-color: black;
  color: white;
  font-size: 1vw;
  padding: 1.2vw 1.5vw 0;
  opacity: 0;
  display: none;
}

@-webkit-keyframes notification-showing-anim {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes notification-showing-anim {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.notification.showing {
  display: block;
  -webkit-animation: 4s linear 0s 1 normal forwards running notification-showing-anim;
  -moz-animation: 4s linear 0s 1 normal forwards running notification-showing-anim;
  -ms-animation: 4s linear 0s 1 normal forwards running notification-showing-anim;
  -o-animation: 4s linear 0s 1 normal forwards running notification-showing-anim;
  animation: 4s linear 0s 1 normal forwards running notification-showing-anim;
}

.error {
  color: red;
  font-size: 1vw;
  font-weight: bold;
}

.dialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 500;
  display: none;
}

.dialog.show {
  display: block;
}

.dialog-background {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-box {
  background-color: white;
  width: 30vw;
  height: 15vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.dialog-box:before {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
}

.dialog-title {
  position: absolute;
  top: 1.3vw;
  left: 1.3vw;
  font-size: 1.5vw;
  font-weight: bold;
}

.dialog-close-icon {
  width: 30px;
  height: 30px;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 1.3vw;
  right: 1.3vw;
  cursor: pointer;
}

.dialog-close-icon:hover {
  background-color: #E0E0E0;
}

.dialog-text {
  font-size: 1.5vw;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 2vw;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dialog-button-container {
  position: absolute;
  bottom: 1.5vw;
  right: 1.5vw;
}

.dialog-button-container .button {
  display: inline-block;
}

.dialog-button-container .button:not(:nth-last-child(1)) {
  margin-right: 1vw;
}

.btn-cancel:hover {
  background-color: #E0E0E0;
}

@media all and (max-width: 1024px) {
  .div-mobile {
    display: block;
  }

  .section {
    height: 160vw;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 1025px) {
  .div-mobile {
    display: none;
  }

  .section {
    height: 100vh;
  }
}