* {
  font-family: square_721;
  outline: 0;
  margin: 0;
  padding: 0;

  -ms-touch-action: pan-x pan-y;
  touch-action: manipulation;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.select {
  position: relative;
}

.option-container {
  position: absolute;
  top: 0;
  left: -3px;
  background-color: white;
  border: 1px solid black;
  padding: 1vw 0;
  width: calc(100% + 6px);
  max-height: 15vw;
  overflow-y: auto;
  display: none;
}

.option-container.show {
  display: block;
}

.option {
  padding: 0.5vw 1vw;
}

.option:hover, .option.active {
  border: 0 !important;
  background-color: #DDD;
}

.section {
  width: 100vw;
  background-color: #F1F1F1;
  overflow: hidden;
  color: #444;
}

@media all and (max-width: 1024px) {
  .div-mobile {
    display: block;
  }

  .section {
    height: 160vw;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 1025px) {
  .div-mobile {
    display: none;
  }

  .section {
    height: 100vh;
  }
}